html{
    width:100%;
    height:auto;
    font-family: Arial, Helvetica, sans-serif;    
}
    
    .top-background{
        width:100%;
        max-width: 960px;
        height:100px;
        background:#ffffff;
        position: relative;
        margin-top:0;
        margin-bottom:4%;
        border-bottom:2px solid #cccccc;
        z-index:0;
        margin-left:auto;
        margin-right:auto;
    
    }
    .top-background2{
        margin-top:0;
        background-color:white;
        width:100%;
        height:100px;
        z-index:-2;
        position: absolute;
        border-bottom:2px solid #cccccc;
    }
    h1{
        size: 40px;
        background-color:#4aaaa5;
        width: 225px;
        height:75px;
        float:left;
       z-index: 1;
        color:white;
        margin-left:0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:center;
        border: 1px solid #cccccc;
        position:absolute;
    }
    
    h2{
        font-size: 40px;
        color:#4aaaa5;
        border-bottom:solid 4px #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height:65px;
        width:920px;
        margin-bottom: 35px;
        margin-left:20px;
        margin-right:20px;

    }
    
    body{
        padding:0;
        width:auto;
        height:auto;
        margin:0;
    }
    .boxed{
        background:white;
        width:960px;
        height:900px;   
        position: relative;
        margin-left:auto;
        margin-right:auto;
        border:2px solid #dddddd;
        padding:0;
        
        
    }
    .hangman{
       position: absolute; 
       margin-left:15%;
       margin-top:12.5%;
       background-color:#4aaaa5;
       border:0;
       font-size:25px;
       color:white;
       height:50px;
       width:250px;
       z-index:+1;
       
    }
    .rpg-game{
        position:absolute;         
        margin-left:15%;
        margin-top:37.5%;
        background-color:#4aaaa5;
        border:0;
        font-size:25px;
        color:white;
        height:50px;
        width:250px;
        z-index:+1;
    }
    .trivia-game{
        position:absolute; 
        margin-left:45%;
        margin-top:37.5%;
        background-color:#4aaaa5;
        border:0;
        font-size:25px;
        color:white;
        height:50px;
        width:250px;
        z-index:+1;
    }
    .rutgers-info-widget{
        position:absolute;
        margin-left:45%;
        margin-top:12.5%;
        background-color:#4aaaa5;
        border:0;
        font-size:25px;
        color:white;
        height:50px;
        width:250px;
        z-index:+1;
    }
    .rock-paper-scissors{
        position:absolute; 
        margin-left:15%;
        margin-top:62.5%;
        background-color:#4aaaa5;
        border:0;
        font-size:25px;
        color:white;
        height:50px;
        width:250px;
        z-index:+1;

    }
   .picture1{
    position:absolute;
    z-index:0;
    margin-left:15%;
    width:200px;
    
   } 
   .picture2{
    position:absolute;
    z-index:0;
    margin-left:15%;
    margin-top:25%
}
   .picture3{
    position:absolute;
    z-index:0;
    margin-left:45%
}
   .picture4{
    position:absolute;
    z-index:0;
    margin-left:45%;
    margin-top:25%
}
   .picture5{
    z-index:0;
    position:absolute;
    margin-left:15%;
    margin-top:50%
   }
   
   .picture11{
       width:250px
   }
   .picture22{
    width:250px
   }
   .picture33{
    width:250px
   }
   .picture44{
    width:250px
   }
   .picture55{
    width:250px
   }
    .buttons{
        z-index: +1;
        position: absolute;
        display:block;
        float:right;
        margin-left:63%;
        margin-top:2%;
        padding-right:0;
        
    }
    
    .button1{
        background-color: white;
        border-left:white;
        border-top:white;
        border-bottom:white;
        border-right:solid #cccccc;
        font-size: 30px;
        color:#cccccc;
    }
    
    .button2{
        background-color: white;
        border-left:white;
        border-top:white;
        border-bottom:white;
        border-right:white;
        font-size: 30px;
        color:#cccccc;
    }
    
    .button3{
        background-color: white;
        border-left:solid #cccccc;
        border-top:white;
        border-bottom:white;
        border-right:white;
        font-size: 30px;
        color:#cccccc;
    }

    footer{
        height:100px;
        width:100%;
        background-color:#666666;
        bottom:0%;
        margin-top: 12%;
        border-top:8px solid #4aaaa5;
        position: static;
        padding:0;
    }

    img{
        height:175px;
        width:140px;
        position:absolute;
        z-index:-1
    }

    @media screen and (min-width:980px){
        .boxed{
            width:960px;
        }
    }
    
    @media screen and (min-width: 788px; max-width:808px) {
        .boxed {
            width:768px
        }
    }
    
    @media screen and (min-width:660px; max-width:680px){
        .boxed {
            width:640px;
        }
    }