html{
    width:100%;
    height:auto;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .top-background{
        width:100%;
        max-width: 960px;
        height:100px;
        background:#ffffff;
        position: relative;
        margin-top:0;
        margin-bottom:4%;
        border-bottom:2px solid #cccccc;
        z-index:0;
        margin-left:auto;
        margin-right:auto;
    
    }
    .top-background2{
        margin-top:0;
        background-color:white;
        width:100%;
        height:100px;
        z-index:-2;
        position: absolute;
        border-bottom:2px solid #cccccc;
    }
    h1{
        size: 40px;
        background-color:#4aaaa5;
        width: 225px;
        height:75px;
        float:left;
       z-index: 1;
        color:white;
        margin-left:0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:center;
        border: 1px solid #cccccc;
        position:absolute;
    }
    h2{
        font-size: 40px;
        color:#4aaaa5;
        border-bottom:solid 4px #cccccc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height:65px;
        width:920px;
        margin-bottom: 35px;
        margin-left:20px;
        margin-right:20px;
    }
    body{
        padding:0;
        width:auto;
        height:auto;
        margin:0;
    }
    .boxed{
        background:white;
        width:auto;
        height:auto;   
        position: relative;
        margin-left:auto;
        margin-right:auto;
        border:2px solid #dddddd;
        padding:0;
        
    }
    form{
        height:auto;
        width:auto;
        max-width:auto;
        position:relative;
        color:#777777;
        font-size:20px;
        padding:20px;
        
    }
    .Name{
        max-width:920px;
        width:100%;
        height:25px;
        margin-top:0%;
        margin-bottom:25px;
    }

    .Email{
        max-width:920px;
        width:100%;
        height:25px;
        margin-bottom:25px;
        
    }
    textarea{
        max-width:920px;
        width:100%;
        height:auto;
        resize:vertical ;
        overflow:auto;
            
    }

    .buttons{
        z-index: +1;
        position: absolute;
        display:block;
        float:right;
        margin-left:63%;
        margin-top:2%;
        padding-right:0;
        
    }
    
    .button1{
        background-color: white;
        border-left:white;
        border-top:white;
        border-bottom:white;
        border-right:solid #cccccc;
        font-size: 30px;
        color:#cccccc;
    }
    
    .button2{
        background-color: white;
        border-left:white;
        border-top:white;
        border-bottom:white;
        border-right:white;
        font-size: 30px;
        color:#cccccc;
    }
    
    .button3{
        background-color: white;
        border-left:solid #cccccc;
        border-top:white;
        border-bottom:white;
        border-right:white;
        font-size: 30px;
        color:#cccccc;
    }
   .Submit{
       background-color:#4aaaa5;
       height:40px;
       width:120px;
       color:White;
       border:0;
       position:static;
       margin-left:20px;
       margin-bottom:20px;
       font-size:20px;


   }
    footer{
        height:100px;
        width:100%;
        background-color:#666666;
        bottom:0%;
        border-top:8px solid #4aaaa5;
        position: fixed;
        padding:0;
        margin-top:12%;
    }        

    @media screen and (min-width:980px){
        .boxed{
            width:960px;
        }
        .form{
            width:960px
        }
        .html{
            width:100%;
            height:100%
        }
    
    }

    
    @media screen and (min-width: 788px; max-width:808px) {
        .boxed {
            width:768px
        }
        form{
                width:768
            }
        html{
            width:100%;
            height:100%
        }
        
        
    }
    
    @media screen and (min-width:660px; max-width:680px){
        .boxed {
            width:640px;
        }
        html{
            width:100%;
            height:100%;
        }
    
    }